[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ThirdParty/SA/Logger"]
	path = ThirdParty/SA/Logger
	url = https://github.com/SapphireSuite/Logger.git
